body {
    color: white;
}

header, footer {
    background-color: #082129;
}

header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #05171E;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container img {
    width: 40px;
    height: 40px;
}

.search-bar {
    display: flex;
    gap: 8px;
}

.search-bar input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #ff3d00;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.search-bar button:hover {
    background-color: #b32a00;
}